@import 'var';
.accessiblity-sec {
  @include global-padding();
  text-align: center;
    .sub-content{
      text-align: center;
      margin-bottom: 3rem;
        .sub-title{
          color: $darkGrayishBlue;
          margin-bottom: 1rem;
        }
        .disc-para {
          color: $grayishBlue;
        }
    }
    .deffrent-screen-visual {
      width: 95%;
      margin-bottom: 5rem;
    }
}
