@import 'var'; //this section called security section

.security-feather-sec {
  @include global-padding();
  .sub-content{
    text-align: center;
    margin-bottom: 5rem;
      .sub-title{
        color: $darkGrayishBlue;
        margin-bottom: 1rem;
      }
      .disc-para {
        color: $grayishBlue;
      }
  }

  .security-feather {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    
    >[class|= security-feather] {
      margin-bottom: 5rem;

        .icon {
          margin-bottom: 2rem;
        }
        .security-feather-title {
          margin-bottom: 1rem;
          color: $darkGrayishBlue;
        }
        .disc-para {
          color: $grayishBlue;
          max-width: 340px;
        }
    }
  }
}

.sponsored-sec {
  @include global-padding();
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
    .sponsored-company-logo {
      margin-bottom: 5rem;
    }
}

@media (min-width: 481px) {

}

@media (min-width: 769px) {
  .security-feather-sec {
    .sub-content{
      text-align: center;
      margin-bottom: 5rem;
        .sub-title{
          color: $darkGrayishBlue;
          margin-bottom: 1rem;
          
        }
        .disc-para {
          color: $grayishBlue;
        }
    }
  
    .security-feather {
      text-align: center;
      display: grid;
      grid-template-columns: repeat(3, auto);
      justify-content: space-between;
      align-items: stretch;
      column-gap: 2rem;
      margin-bottom: 5rem;
    
      >[class|= security-feather] {
        margin-bottom: 5rem;
  
          .icon {
            height: 45px;
            margin-bottom: 2rem;
            
          }
          .security-feather-title {
            margin-bottom: 1rem;
            color: $darkGrayishBlue;
            
          }
          .disc-para {
            color: $grayishBlue;
            max-width: 340px;
          }
      }
    }
  }

  .sponsored-sec {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
      .sponsored-company-logo {
        padding: 0 2rem;
        margin-bottom: 5rem;
      }   
  }
}
@media (min-width: 1200px) {
  .security-feather-sec {
    .sub-content{
      text-align: center;
      margin-bottom: 5rem;
        .sub-title{
          color: $darkGrayishBlue;
          margin-bottom: 1rem;
        }
        .disc-para {
          color: $grayishBlue;
        }
    }
  
    .security-feather {
      text-align: center;
      display: grid;
      grid-template-columns: repeat(3, auto);
      justify-content: space-between;
      align-items: stretch;
      column-gap: 5rem;
      margin-bottom: 5rem;
    
      >[class|= security-feather] {
        margin-bottom: 5rem;
  
          .icon {
            height: 45px;
            margin-bottom: 2rem;
            
          }
          .security-feather-title {
            margin-bottom: 1rem;
            color: $darkGrayishBlue;
            
          }
          .disc-para {
            color: $grayishBlue;
          }
      }
    }
  }
}

